NODE_ENV=development

# Orders
ORDERS_PORT=3001

# Database
# Use localhost when running Nest locally and use postgres when runs inside docker
DB_HOST=localhost
DB_PORT=5432
DB_USER=app
DB_PASS=app
DB_NAME=mosmer-capital-task
DATABASE_URL=postgresql://app:app@localhost:5432/mosmer-capital-task?schema=public

# Kafka
# Use localhost when running Nest locally and use kafka when runs inside docker
KAFKA_BROKERS=localhost:9092
KAFKA_PORT=9092
KAFKA_ORDERS_CLIENT_ID=orders-service
KAFKA_INVENTORY_CLIENT_ID=inventory-service
KAFKA_ORDERS_GROUP_ID=orders-consumer
KAFKA_INVENTORY_GROUP_ID=inventory-consumer
