NODE_ENV=development

# Orders
ORDERS_PORT=3001

# Shared database
# Use localhost when running Nest locally and use postgres when runs inside docker
DB_HOST=localhost
DB_PORT=5432
DB_USER=app
DB_PASS=app
DB_NAME=mosmer-capital-task
DATABASE_URL=postgresql://app:app@localhost:5432/mosmer-capital-task?schema=public

# Kafka

# Inventory
